{% extends "index.html"%}

{% block content%}
<table class="table table-striped">
  <thead>
    <tr> 
      <th></th>
      <th>Title</th>
      <th>Author</th>
      <th>Country</th>
      <th>Language</th>
      <th>Pages</th>
      <th>Price</th>
    
    </tr>
  </thead>
      
        {% for book in books %} 
            <tr> 
                <td><img src="static/image{{book['id']}}.png" width = "50"></td>
                <td>{{book['title']}}</td>       
                <td>{{book['author']}}</td>
                <td>{{book['country']}}</td>
                <td>{{book['language']}}</td>
                <td>{{book['pages']}}</td>
                <td>{{book['price']}}</td>
                <td>
                  <a href="http://localhost:{{port}}/buybook?bookId={{book['id']}}">Buy</a>
                </td>
            </tr>	
        {%endfor%}    
    </table>
{% endblock %}
    